.my-image1 img {
  width: 90%;
  position: absolute;
  padding-top: 50px;
  left: 0%;
}

.my-image2 img {
  width: 30%;
  padding-top: 29%;
  left: 60%;
  position: absolute;
}

.my-image3 img {
  width: 22%;
  position: absolute;
  padding-top: 22%;
  right: 0%;
}

.my-image4 img {
  width: 18%;
  position: absolute;
  padding-top: 5%;
  left: 64%;
}
.my-image5 img {
  width: 18%;
  position: absolute;
  right: 0%;
}
.heading-h1 {
  -webkit-text-stroke: 0.6px black;
  font-size: 90px;
  display: inline-block;
  font-family: "Circular Book", sans-serif;
  line-height: 10px;
}
.heading-span {
  -webkit-text-stroke: 0.6px black;
  color: transparent;
  font-size: 90px;
  margin-left: 0.7vw;
  font-family: "Circular Book", sans-serif;
  line-height: 80px;
}
.underline-magical {
  background-image: linear-gradient(
    113.1deg,
    rgba(255, 198, 152, 0.5) 14%,
    rgba(197, 75, 253, 0.5) 80.5%,
    rgba(191, 53, 255, 0.5) 100.6%
  );
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  padding: 7px 0px;
  transition: background-size 0.25s cubic-bezier(0.475, 0.425, 0, 0.995);
}
.underline-magical:hover {
  background-size: 100% 88%;
}

/* Capability */

.a-c-section {
  width: 76%;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  margin-left: 15%;
}

.a-c_bg_text {
  font-size: 180px;
  position: absolute;
  top: 92px;
  opacity: 0.4;
  z-index: -2;
}

.a-c_heading {
  padding: 140px 0px 50px 0px;
  margin: 0px;
}
.a-c_subheading {
  font-size: 50px;
  font-family: "Circular Book", sans-serif;
  color: #a12effc7;
}
.margin_reveal {
  margin: 10px 0px;
  font-size: 120px;
  margin-top: 90px;
}

.a-hl {
  border-top: 1px solid #797979;
  width: 100%;
  opacity: 0.5;
}

.a-c_layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  width: 100%;
  font-family: "Circular Book", sans-serif;
  font-size: 25px;
}

.a-c_layout span {
  padding: 15px 0px 15px 50px;
  position: relative;
}

.a-c_layout span:nth-child(2n) {
  padding-left: 100px;
}

.a-c_layout span::before {
  content: "";
  border-top: 1px solid #797979;
  width: 100%;
  opacity: 0.5;
  left: 0px;
  position: absolute;
  bottom: 0px;
}

.a-c_layout span::after {
  content: "";
  width: 100%;
  height: 0%;

  background-color: #f6ecdd;
  left: 0px;
  position: absolute;
  top: 0px;
  z-index: -1;
  transition: height 0.3s cubic-bezier(0.6, 0.7, 0, 1);
}

.a-c_layout span:hover::after {
  height: 100%;
}

.a-c_photography {
  position: relative;
  padding: 1px 0px;
}

.a-c_photography::after {
  content: "";
  width: 100%;
  height: 0%;
  background-color: #f6ecdd;
  width: 100%;

  left: 0px;
  position: absolute;
  top: 0px;
  z-index: -1;
  transition: height 0.3s cubic-bezier(0.6, 0.7, 0, 1);
}

.a-c_photography:hover::after {
  height: 100%;
}
.outlined {
  -webkit-text-stroke: 0.6px black;
  color: transparent;
}

.a-c-code {
  padding: 50px 0px 50px 0px;
}

/* Capability end */

/* tools section */

.a-t-section {
  width: 76%;
  position: relative;
  min-height: 100vh;
  margin-left: 15%;
}

.a-t_bg_text {
  font-size: 200px;
  position: absolute;
  top: 92px;
  opacity: 0.4;
  z-index: -2;
}

.a-t_layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 80%;
  font-family: "Circular Book", sans-serif;
  font-size: 20px;
  overflow: hidden;
}

.a-t_layout span {
  padding: 18px 0px 18px 100px;
  position: relative;
}

/* .a-t_layout span:nth-child(2n) {
  padding-left: 100px;
} */

.a-t_layout span::before {
  content: "";
  border-top: 1px solid #797979;
  width: 100%;
  opacity: 0.5;
  left: 0px;
  position: absolute;
  bottom: 0px;
}

.a-t_layout img {
  position: absolute;
  width: 40px;
  margin-left: -56px;
  margin-top: -4px;
}

/* about project layout */

.a-p-section {
  width: 76%;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  margin-left: 15%;
}

.a-p_layout_column {
  display: grid;
}

.a-p_layout_row {
  display: grid;
  grid-template-columns: 0.9fr 4fr 3fr 0.4fr;
  position: relative;
  width: 100%;
  padding: 20px 0px 20px 0px;
  transition: height 0.3s cubic-bezier(0.6, 0.7, 0, 1);
  font-size: 25px;
}

.a-p_layout_row span:last-child {
  text-align: right;
  margin-right: 10px;
}

.a-p_layout_row span:first-child {
  margin-left: 10px;
  margin-right: 10px;
}

.a-p_layout_row::before {
  content: "";
  border-top: 1px solid #797979;
  width: 100%;
  opacity: 0.5;
  left: 0px;
  position: absolute;
  bottom: 0px;
}

/*.a-p_layout_row::after {
  content: "";
  width: 100%;
  height: 0%;
  background-color: #f6ecdd;
  width: 100%;

  left: 0px;
  position: absolute;
  top: 0px;
  z-index: -1;
  transition: height 0.3s cubic-bezier(0.6, 0.7, 0, 1);
}

.a-p_layout_row:hover::after {
  height: 100%;
}

 .a-p_layout_row {
  background-color: white;

} */

.a-p_layout_row:hover {
  color: var(--primary-color);
}

.a-p_layout_row:hover {
  margin-right: 20px;
}
.projects-cv {
  color: black;
  font-family: Circular Book, sans-serif;
}

@media (max-width: 2000px) {
  .about-mystory {
    width: 80%;
    margin-top: 1000px;
    margin-left: 7%;
  }
  .about-mystory .para {
    line-height: 40px;
    color: black;
    font-size: 1.2vw;
    font-family: "Circular Book", sans-serif;
    line-height: 40px;
  }
  .about-mystory .title-text {
    margin-top: 50px;
    color: black;
    font-size: 3vw;
    font-family: "Circular Book", sans-serif;
  }
  .about-mystory-exp .para {
    margin-top: 50px;
    color: black;
    font-size: 1.2vw;
    font-family: "Circular Book", sans-serif;
    line-height: 40px;
  }
  .quotes {
    font-family: "Circular Book", sans-serif;
    margin-left: 20%;
    font-size: 20px;
  }
  .a-c_layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    width: 90%;
    font-family: "Circular Book", sans-serif;
    font-size: 25px;
  }
  .a-t_layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    width: 98%;

    font-family: "Circular Book", sans-serif;
    font-size: 30px;
    overflow: hidden;
  }
}

@media (max-width: 1600px) {
  .about-mystory {
    width: 90%;
    margin-top: 650px;
    margin-left: 2%;
  }
  .about-mystory .para {
    color: black;
    font-size: 1.5vw;
    font-family: "Circular Book", sans-serif;
    line-height: 35px;
  }

  .about-mystory .title-text {
    color: black;
    font-size: 3vw;
    font-family: "Circular Book", sans-serif;
  }
  .about-mystory-exp .para {
    margin-top: 50px;
    color: black;
    font-size: 1.5vw;
    font-family: "Circular Book", sans-serif;
    line-height: 35px;
  }
  .quotes {
    font-family: "Circular Book", sans-serif;
    margin-left: 15%;
    font-size: 16px;
  }
  .a-t_layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 80%;
    font-family: "Circular Book", sans-serif;
    font-size: 20px;
    overflow: hidden;
  }
  .a-c_layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    width: 100%;
    font-family: "Circular Book", sans-serif;
    font-size: 25px;
  }
}
@media (max-width: 1050px) {
  .about-mystory {
    width: 90%;
    margin-top: 650px;
    margin-left: 2%;
  }
  .about-mystory .para {
    color: black;
    font-size: 1.5vw;
    font-family: "Circular Book", sans-serif;
    line-height: 35px;
  }

  .about-mystory .title-text {
    color: black;
    font-size: 3vw;
    font-family: "Circular Book", sans-serif;
  }
  .about-mystory-exp .para {
    margin-top: 50px;
    color: black;
    font-size: 1.5vw;
    font-family: "Circular Book", sans-serif;
    line-height: 35px;
  }
  .quotes {
    font-family: "Circular Book", sans-serif;
    margin-left: 15%;
    font-size: 16px;
  }
  .a-t_layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 80%;
    font-family: "Circular Book", sans-serif;
    font-size: 20px;
    overflow: hidden;
  }
  .a-c_layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    width: 100%;
    font-family: "Circular Book", sans-serif;
    font-size: 25px;
  }
  
}
