/* if the viewport is equal to 340px or less than that */

@media (max-width: 2000px) {
  .site-main {
    width: 76%;
    margin: 0% 10%;
  }

  .header_area .main-menu .navbar {
    margin-left: 25%;
  }

  .mystory-img {
    margin-left: 10%;
  }
  .site-main .about-area .about-title .paragraph > p {
    font-size: 1.1vw;
    line-height: 30px;
  }
  .site-main .about-area .about-title h2 > span {
    line-height: 80px;
    letter-spacing: 25px;
  }
  .about-mystory-exp {
    width: 80%;
    margin-top: 50px;
  }
  .overall {
    margin-left: 15vw;
  }
  .img-fluid1 {
    max-width: 90%;
    margin-left: 10vw;
  }
}

@media (max-width: 1880px) {
  .site-main .about-area .about-title .paragraph > p {
    font-size: 1.5vw;
    line-height: 30px;
  }
  .img-fluid1 {
    max-width: 90%;
    margin-left: 10vw;
  }
}
@media (max-width: 1600px) {
  .site-main {
    width: 76%;
    margin: 0% 10%;
  }
  .header_area .main-menu .navbar {
    margin-left: 15%;
  }

  .mystory-img {
    margin-left: -10%;
  }
  .para-mystory {
    width: 80%;
  }

  .site-main .about-area .about-title h2 > span {
    font-size: 30px;
    letter-spacing: 15px;
    line-height: 50px;
  }
  .site-main .about-area .about-title .paragraph > p {
    width: 150%;
    font-size: 1.3vw;
    line-height: 30px;
  }
  .site-main .about-area .about-title .paragraph .name > span {
    font-size: 20px;
  }
  .about-mystory-exp {
    width: 80%;
    margin-top: 50px;
  }
  .overall {
    margin-left: 10vw;
  }
  .img-fluid1 {
    max-width: 90%;
    margin-left: 3vw;
  }
}
@media (max-width: 1050px) {
  .header_area .main-menu .navbar {
    margin-left: -8%;
  }

  .mystory-img {
    margin-left: -70%;
  }
  .site-main {
    width: 76%;
    margin: 0% 10%;
  }

  .para-mystory {
    width: 80%;
  }

  .site-main .about-area .about-title h2 > span {
    font-size: 30px;
    letter-spacing: 15px;
    line-height: 50px;
  }

  .site-main .about-area .about-title .paragraph .name > span {
    font-size: 20px;
  }
  .about-mystory-exp {
    width: 80%;
    margin-top: 50px;
  }
  .overall {
    margin-left: 10vw;
  }
  .site-main .about-area .about-title .paragraph > p {
    width: 150%;
    font-size: 1.6vw;
    line-height: 30px;
  }
  .col-lg-6 > span {
    padding: 0.2rem 0;
    color: #000;
    font-family: "Circular Book", sans-serif;
    font-size: 1.6vw;
  }
  .img-fluid1 {
    max-width: 90%;
    margin-left: 3vw;
  }
}
